body {
    /* background-color:tan; */
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#808080;
    font-weight: bolder;
}

#form-wrapper {
    margin: 0 auto;
    max-width: 452px;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
#form-wrapper fieldset {
    border: none;
    margin-left: 12%;
}
#form-wrapper label {
    display: inline-block;
    font-weight: bold;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
    width : 100px;
}
#result {
    display: block;
    margin-top: 10px;
}
#copyright {
    display: block;
    font-weight: bold;
}


